In [36]:
import pandas as pd
df = pd.read_csv('health.csv')
df.head(20)

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,19,Computer Science,Male,3.65,2,1,0,Average,Low,Average,Moderate,Single,NaN,Never,No,No,4,Moderate,20,Off-Campus
4,18,Business,Male,3.40,3,3,4,Good,Low,Average,High,Married,Never,Never,No,Yes,0,High,23,On-Campus
5,21,Medical,Female,3.35,2,4,3,Good,Moderate,Good,High,Single,Never,Never,No,No,5,Moderate,19,Off-Campus
6,18,Law,Male,3.65,2,2,5,Good,Moderate,Average,Moderate,Single,Never,Never,No,No,4,Moderate,20,Off-Campus
7,21,Business,Female,3.40,0,3,3,Average,Low,Average,Low,Married,Never,Never,Yes,No,3,Moderate,23,On-Campus
8,24,Medical,Male,3.80,3,2,1,Poor,Low,Average,Moderate,Single,Frequently,Never,Yes,No,2,Low,28,On-Campus
9,19,Engineering,Female,3.05,2,5,0,Average,Moderate,Good,Low,In a Relationship,NaN,Occasionally,Yes,No,1,Moderate,27,Off-Campus
10,23,Law,Female,3.74,3,2,4,Average,Low,Good,Moderate,In a Relationship,NaN,Occasionally,No,No,3,Moderate,22,Off-Campus
11,28,Engineering,Female,NaN,3,0,3,Average,Moderate,Average,Moderate,In a Relationship,Never,Occasionally,Yes,No,0,Moderate,20,Off-Campus
12,22,Computer Science,Male,3.19,1,1,3,Average,Moderate,Average,Moderate,In a Relationship,Never,Occasionally,No,No,1,High,17,On-Campus
13,27,Medical,Male,3.26,3,2,2,Average,Moderate,Average,High,In a Relationship,Never,Occasionally,No,No,1,Moderate,17,With Family
14,24,Medical,Female,3.20,3,0,3,Average,Low,Poor,Moderate,Single,Never,Occasionally,No,No,2,Moderate,18,On-Campus
15,25,Law,Male,3.61,3,1,5,Good,Low,Average,Moderate,In a Relationship,Never,Never,Yes,No,4,Moderate,25,Off-Campus
16,18,Medical,Female,3.85,4,1,3,Good,Low,Average,Moderate,Married,Never,Never,Yes,No,1,Moderate,23,Off-Campus
17,19,Medical,Male,3.26,5,1,1,Good,Low,Average,High,Single,Never,Never,Yes,No,4,Moderate,29,With Family
18,22,Computer Science,Male,3.46,3,1,0,Good,Moderate,Average,Moderate,In a Relationship,Never,Frequently,No,No,4,High,29,Off-Campus
19,20,Medical,Male,3.43,2,2,2,Good,High,Average,Low,Single,Occasionally,Never,No,No,3,Low,16,With Family

In [42]:
df['Stress_Level'].unique()

array([3, 0, 4, 2, 1, 5])

In [23]:
df.shape

(7022, 20)

In [18]:
kf = pd.read_csv('test.csv')
kf.head()

,Age,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,...,GPA,AttendanceRate,StudyHours,InternetAccess,Extracurricular,PartTimeJob,ParentSupport,Romantic,FreeTime,GoOut
0,15,10,Female,White,1,HS,Public,City,72.346053,62.217134,...,2.521745,0.868836,0.310172,0,1,1,1,0,3,3
1,16,11,Female,Hispanic,1,<HS,Private,City,77.889157,72.748030,...,3.275626,0.909595,1.175586,1,1,0,0,1,3,1
2,17,12,Female,Black,2,HS,Public,Rural,72.966587,65.585472,...,2.974137,0.870952,1.112556,1,1,0,0,0,3,3
3,16,11,Female,White,2,HS,Public,Town,96.674049,88.035852,...,3.676590,1.000000,1.067679,0,0,0,0,1,4,5
4,16,11,Male,Black,3,Bachelors+,Public,Rural,81.989270,77.485372,...,2.255014,0.897957,0.841936,0,1,0,1,0,4,2

In [19]:
kf.columns

Index(['Age', 'Grade', 'Gender', 'Race', 'SES_Quartile', 'ParentalEducation',
       'SchoolType', 'Locale', 'TestScore_Math', 'TestScore_Reading',
       'TestScore_Science', 'GPA', 'AttendanceRate', 'StudyHours',
       'InternetAccess', 'Extracurricular', 'PartTimeJob', 'ParentSupport',
       'Romantic', 'FreeTime', 'GoOut'],
      dtype='object')

In [20]:
kf.shape

(999997, 21)

In [24]:
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')
validation_csbv = pd.read_csv('validation.csv')

In [34]:
# print(train_data.columns)
# print(test_data.columns)
# print(validation_csbv.columns)

# print(train_data.shape)
# print(test_data.shape)
# print(validation_csbv.shape)

train_data.head()

,Age,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,...,GPA,AttendanceRate,StudyHours,InternetAccess,Extracurricular,PartTimeJob,ParentSupport,Romantic,FreeTime,GoOut
0,17,12,Female,White,3,HS,Public,Suburban,70.258235,79.665185,...,2.743879,0.906809,1.089243,1,1,0,0,0,2,2
1,18,12,Female,White,2,HS,Public,Suburban,67.876546,59.611505,...,2.587700,0.843739,0.879911,1,1,0,1,0,5,2
2,16,11,Female,White,2,HS,Public,City,62.070623,70.577443,...,2.426294,0.850923,1.003442,1,1,0,1,1,5,1
3,14,9,Female,White,4,Bachelors+,Public,Town,79.909312,82.924450,...,3.558240,0.946786,1.814810,1,1,0,1,0,4,2
4,16,11,Female,Two-or-more,4,SomeCollege,Public,Rural,90.562294,95.352336,...,3.896884,0.988036,1.157241,1,1,0,0,0,3,4