In [162]:
# import pandas as pd
# df = pd.read_csv('health.csv')
# df

In [163]:
# df.shape

In [164]:
# df[df.isnull().any(axis=1)]

In [165]:
# df.groupby('Stress_Level').Gender.value_counts()

In [166]:
# df[df.Stress_Level > 2].groupby('Stress_Level').Course.value_counts() 
# ## Course have a significant affect on stress

In [167]:
# df[df.Depression_Score > 2].groupby('Depression_Score').Course.value_counts()

In [168]:
# df[df.Anxiety_Score > 2].groupby('Anxiety_Score').Course.value_counts()

In [169]:
# df.groupby('CGPA').value_counts()

In [170]:
# df.groupby('Course').CGPA.mean()

In [171]:
# df['CGPA'] = df['CGPA'].fillna(3.49)

In [172]:
# df.dropna(inplace=True)

In [173]:
# df.info()

In [174]:
# df.to_csv("cleaned_health.csv", index=False)
import pandas as pd

In [175]:
df = pd.read_csv('cleaned_health.csv')
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,18,Business,Male,3.40,3,3,4,Good,Low,Average,High,Married,Never,Never,No,Yes,0,High,23,On-Campus
4,21,Medical,Female,3.35,2,4,3,Good,Moderate,Good,High,Single,Never,Never,No,No,5,Moderate,19,Off-Campus

In [176]:
df['Risk'] = df.apply(lambda x: 1 if (x['Stress_Level'] > 2 or x['Depression_Score'] > 2 or x['Anxiety_Score'] > 2) else 0,axis=1)

In [177]:
df.Risk.value_counts()

Risk
1    5988
0    1019
Name: count, dtype: int64

In [178]:
df.Substance_Use.value_counts()

Substance_Use
Never           5903
Occasionally     699
Frequently       405
Name: count, dtype: int64

In [179]:
Substance_Use_map = {
    'Never' : 1,
    'Occasionally' : 2,
    'Frequently' : 3
}

In [180]:
df['Substance_Use'].replace(Substance_Use_map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\651325812.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Substance_Use'].replace(Substance_Use_map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\651325812.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Substance_Use'].replace(Substance_Use_map , inplace=True)

In [181]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,1
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,1
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,Male,3.40,3,3,4,Good,Low,Average,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,Female,3.35,2,4,3,Good,Moderate,Good,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [182]:
df.Sleep_Quality.value_counts()

Sleep_Quality
Good       3583
Average    2728
Poor        696
Name: count, dtype: int64

In [183]:
Sleep_Quality_Map = {
    'Good' : 3,
    'Average' : 2,
    'Poor' : 1
}
df['Sleep_Quality'].replace(Sleep_Quality_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\3022150486.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sleep_Quality'].replace(Sleep_Quality_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\3022150486.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sleep_Quality'].replace(Sleep_Quality_Map , inplace=True)

In [184]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,Male,3.56,3,3,2,3,Moderate,Good,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,1
1,24,Engineering,Female,2.44,0,3,0,2,Low,Average,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,1
2,19,Business,Female,3.74,4,0,3,3,Low,Average,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,Male,3.40,3,3,4,3,Low,Average,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,Female,3.35,2,4,3,3,Moderate,Good,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [185]:
df.Diet_Quality.value_counts()

Diet_Quality
Average    4263
Good       1380
Poor       1364
Name: count, dtype: int64

In [186]:
Diet_Quality_Map = {
    'Good' : 3,
    'Average' : 2,
    'Poor' : 1
}
df['Diet_Quality'].replace(Diet_Quality_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\3199958123.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Diet_Quality'].replace(Diet_Quality_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\3199958123.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Diet_Quality'].replace(Diet_Quality_Map , inplace=True)

In [187]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,Male,3.56,3,3,2,3,Moderate,3,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,1
1,24,Engineering,Female,2.44,0,3,0,2,Low,2,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,1
2,19,Business,Female,3.74,4,0,3,3,Low,2,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,Male,3.40,3,3,4,3,Low,2,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,Female,3.35,2,4,3,3,Moderate,3,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [188]:
df.Physical_Activity.value_counts()

Physical_Activity
Moderate    3510
Low         2088
High        1409
Name: count, dtype: int64

In [189]:
Physical_Activity_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Physical_Activity'].replace(Physical_Activity_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\1050943888.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Physical_Activity'].replace(Physical_Activity_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\1050943888.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Physical_Activity'].replace(Physical_Activity_Map , inplace=True)

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   object
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   object
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   object
 14  Family_History               7007 non-null   object
 15  Chronic_Illness              7007 non-null   object
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   object
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(11), object(9)
memory usage: 1.1+ MB

In [191]:
df.groupby('Residence_Type').Risk.value_counts(normalize=True)
# One-Hot encoding in Residence_Type Course , RelationShip_Status
# Scaling in Age , Semester_Credit_Load ,

Residence_Type  Risk
Off-Campus      1       0.853597
                0       0.146403
On-Campus       1       0.852669
                0       0.147331
With Family     1       0.860268
                0       0.139732
Name: proportion, dtype: float64

In [192]:
df['Gender'] = df['Gender'].map({"Male": 0, "Female": 1})

In [193]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,0,3.56,3,3,2,3,2,3,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,1
1,24,Engineering,1,2.44,0,3,0,2,1,2,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,1
2,19,Business,1,3.74,4,0,3,3,1,2,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,0,3.40,3,3,4,3,1,2,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,1,3.35,2,4,3,3,2,3,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [194]:
df.Social_Support.value_counts()

Social_Support
Moderate    3462
High        2171
Low         1374
Name: count, dtype: int64

In [195]:
Social_Support_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Social_Support'].replace(Social_Support_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\2384732504.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Social_Support'].replace(Social_Support_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\2384732504.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Social_Support'].replace(Social_Support_Map , inplace=True)

In [196]:
Relationship_Status_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Social_Support'].replace(Social_Support_Map , inplace=True)

In [197]:
df.groupby('Relationship_Status').Risk.value_counts(normalize=True)

Relationship_Status  Risk
In a Relationship    1       0.861553
                     0       0.138447
Married              1       0.857352
                     0       0.142648
Single               1       0.849453
                     0       0.150547
Name: proportion, dtype: float64

In [198]:
df.Substance_Use.value_counts()

Substance_Use
1    5903
2     699
3     405
Name: count, dtype: int64

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   int64
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   int64
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   object
 14  Family_History               7007 non-null   object
 15  Chronic_Illness              7007 non-null   object
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   object
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(13), object(7)
memory usage: 1.1+ MB

In [200]:
df.Counseling_Service_Use.value_counts()

Counseling_Service_Use
Never           4254
Occasionally    2075
Frequently       678
Name: count, dtype: int64

In [201]:
Counseling_Service_Use_map = {
    'Never' : 1,
    'Occasionally' : 2,
    'Frequently' : 3
}
df['Counseling_Service_Use'].replace(Counseling_Service_Use_map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\1170066692.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Counseling_Service_Use'].replace(Counseling_Service_Use_map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\1170066692.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Counseling_Service_Use'].replace(Counseling_Service_Use_map , inplace=True)

In [202]:
df.Family_History.value_counts()

Family_History
No     4853
Yes    2154
Name: count, dtype: int64

In [203]:
df['Family_History'] = df['Family_History'].map({"Yes": 1, "No": 0})

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   int64
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   int64
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   int64
 14  Family_History               7007 non-null   int64
 15  Chronic_Illness              7007 non-null   object
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   object
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(15), object(5)
memory usage: 1.1+ MB

In [205]:
df.Extracurricular_Involvement.value_counts()

Extracurricular_Involvement
Moderate    3432
Low         2160
High        1415
Name: count, dtype: int64

In [206]:
Extracurricular_Involvement_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Extracurricular_Involvement'].replace(Extracurricular_Involvement_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\2629068318.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Extracurricular_Involvement'].replace(Extracurricular_Involvement_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_22976\2629068318.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Extracurricular_Involvement'].replace(Extracurricular_Involvement_Map , inplace=True)

In [207]:
df.Chronic_Illness.value_counts()

Chronic_Illness
No     6663
Yes     344
Name: count, dtype: int64

In [208]:
df['Chronic_Illness'] = df['Chronic_Illness'].map({"Yes": 1, "No": 0})

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   int64
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   int64
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   int64
 14  Family_History               7007 non-null   int64
 15  Chronic_Illness              7007 non-null   int64
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   int64
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(17), object(3)
memory usage: 1.1+ MB