In [54]:
# import pandas as pd
# df = pd.read_csv('health.csv')
# df

In [55]:
# df.shape

In [56]:
# df[df.isnull().any(axis=1)]

In [57]:
# df.groupby('Stress_Level').Gender.value_counts()

In [58]:
# df[df.Stress_Level > 2].groupby('Stress_Level').Course.value_counts() 
# ## Course have a significant affect on stress

In [59]:
# df[df.Depression_Score > 2].groupby('Depression_Score').Course.value_counts()

In [60]:
# df[df.Anxiety_Score > 2].groupby('Anxiety_Score').Course.value_counts()

In [61]:
# df.groupby('CGPA').value_counts()

In [62]:
# df.groupby('Course').CGPA.mean()

In [63]:
# df['CGPA'] = df['CGPA'].fillna(3.49)

In [64]:
# df.dropna(inplace=True)

In [65]:
# df.info()

In [66]:
# df.to_csv("cleaned_health.csv", index=False)
import pandas as pd

In [67]:
df = pd.read_csv('cleaned_health.csv')
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,18,Business,Male,3.40,3,3,4,Good,Low,Average,High,Married,Never,Never,No,Yes,0,High,23,On-Campus
4,21,Medical,Female,3.35,2,4,3,Good,Moderate,Good,High,Single,Never,Never,No,No,5,Moderate,19,Off-Campus

In [68]:
df['Risk'] = df.apply(lambda x: 1 if (x['Stress_Level'] > 3 or x['Depression_Score'] > 3 or x['Anxiety_Score'] > 3) else 0,axis=1)

In [69]:
df.Risk.value_counts()

Risk
1    4265
0    2742
Name: count, dtype: int64

In [70]:
df.Substance_Use.value_counts()

Substance_Use
Never           5903
Occasionally     699
Frequently       405
Name: count, dtype: int64

In [71]:
Substance_Use_map = {
    'Never' : 1,
    'Occasionally' : 2,
    'Frequently' : 3
}

In [72]:
df['Substance_Use'].replace(Substance_Use_map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\651325812.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Substance_Use'].replace(Substance_Use_map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\651325812.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Substance_Use'].replace(Substance_Use_map , inplace=True)

In [73]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,0
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,0
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,Male,3.40,3,3,4,Good,Low,Average,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,Female,3.35,2,4,3,Good,Moderate,Good,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [74]:
df.Sleep_Quality.value_counts()

Sleep_Quality
Good       3583
Average    2728
Poor        696
Name: count, dtype: int64

In [75]:
Sleep_Quality_Map = {
    'Good' : 3,
    'Average' : 2,
    'Poor' : 1
}
df['Sleep_Quality'].replace(Sleep_Quality_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\3022150486.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sleep_Quality'].replace(Sleep_Quality_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\3022150486.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sleep_Quality'].replace(Sleep_Quality_Map , inplace=True)

In [76]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,Male,3.56,3,3,2,3,Moderate,Good,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,0
1,24,Engineering,Female,2.44,0,3,0,2,Low,Average,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,0
2,19,Business,Female,3.74,4,0,3,3,Low,Average,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,Male,3.40,3,3,4,3,Low,Average,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,Female,3.35,2,4,3,3,Moderate,Good,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [77]:
df.Diet_Quality.value_counts()

Diet_Quality
Average    4263
Good       1380
Poor       1364
Name: count, dtype: int64

In [78]:
Diet_Quality_Map = {
    'Good' : 3,
    'Average' : 2,
    'Poor' : 1
}
df['Diet_Quality'].replace(Diet_Quality_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\3199958123.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Diet_Quality'].replace(Diet_Quality_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\3199958123.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Diet_Quality'].replace(Diet_Quality_Map , inplace=True)

In [79]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,Male,3.56,3,3,2,3,Moderate,3,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,0
1,24,Engineering,Female,2.44,0,3,0,2,Low,2,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,0
2,19,Business,Female,3.74,4,0,3,3,Low,2,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,Male,3.40,3,3,4,3,Low,2,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,Female,3.35,2,4,3,3,Moderate,3,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [80]:
df.Physical_Activity.value_counts()

Physical_Activity
Moderate    3510
Low         2088
High        1409
Name: count, dtype: int64

In [81]:
Physical_Activity_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Physical_Activity'].replace(Physical_Activity_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\1050943888.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Physical_Activity'].replace(Physical_Activity_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\1050943888.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Physical_Activity'].replace(Physical_Activity_Map , inplace=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   object
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   object
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   object
 14  Family_History               7007 non-null   object
 15  Chronic_Illness              7007 non-null   object
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   object
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(11), object(9)
memory usage: 1.1+ MB

In [83]:
df.groupby('Residence_Type').Risk.value_counts(normalize=True)
# One-Hot encoding in Residence_Type Course , RelationShip_Status
# Scaling in Age , Semester_Credit_Load ,

Residence_Type  Risk
Off-Campus      1       0.606115
                0       0.393885
On-Campus       1       0.606406
                0       0.393594
With Family     1       0.618207
                0       0.381793
Name: proportion, dtype: float64

In [84]:
df['Gender'] = df['Gender'].map({"Male": 0, "Female": 1})

In [85]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,...,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type,Risk
0,25,Others,0,3.56,3,3,2,3,2,3,...,Married,1,Never,No,No,2,Moderate,17,On-Campus,0
1,24,Engineering,1,2.44,0,3,0,2,1,2,...,Single,2,Occasionally,No,No,3,Low,27,On-Campus,0
2,19,Business,1,3.74,4,0,3,3,1,2,...,In a Relationship,1,Occasionally,No,No,4,High,15,On-Campus,1
3,18,Business,0,3.40,3,3,4,3,1,2,...,Married,1,Never,No,Yes,0,High,23,On-Campus,1
4,21,Medical,1,3.35,2,4,3,3,2,3,...,Single,1,Never,No,No,5,Moderate,19,Off-Campus,1

In [86]:
df.Social_Support.value_counts()

Social_Support
Moderate    3462
High        2171
Low         1374
Name: count, dtype: int64

In [87]:
Social_Support_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Social_Support'].replace(Social_Support_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\2384732504.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Social_Support'].replace(Social_Support_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\2384732504.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Social_Support'].replace(Social_Support_Map , inplace=True)

In [88]:
Relationship_Status_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Social_Support'].replace(Social_Support_Map , inplace=True)

In [89]:
df.groupby('Relationship_Status').Risk.value_counts(normalize=True)

Relationship_Status  Risk
In a Relationship    1       0.614568
                     0       0.385432
Married              1       0.603511
                     0       0.396489
Single               1       0.607233
                     0       0.392767
Name: proportion, dtype: float64

In [90]:
df.Substance_Use.value_counts()

Substance_Use
1    5903
2     699
3     405
Name: count, dtype: int64

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   int64
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   int64
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   object
 14  Family_History               7007 non-null   object
 15  Chronic_Illness              7007 non-null   object
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   object
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(13), object(7)
memory usage: 1.1+ MB

In [92]:
df.Counseling_Service_Use.value_counts()

Counseling_Service_Use
Never           4254
Occasionally    2075
Frequently       678
Name: count, dtype: int64

In [93]:
Counseling_Service_Use_map = {
    'Never' : 1,
    'Occasionally' : 2,
    'Frequently' : 3
}
df['Counseling_Service_Use'].replace(Counseling_Service_Use_map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\1170066692.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Counseling_Service_Use'].replace(Counseling_Service_Use_map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\1170066692.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Counseling_Service_Use'].replace(Counseling_Service_Use_map , inplace=True)

In [94]:
df.Family_History.value_counts()

Family_History
No     4853
Yes    2154
Name: count, dtype: int64

In [95]:
df['Family_History'] = df['Family_History'].map({"Yes": 1, "No": 0})

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   int64
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   int64
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   int64
 14  Family_History               7007 non-null   int64
 15  Chronic_Illness              7007 non-null   object
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   object
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(15), object(5)
memory usage: 1.1+ MB

In [97]:
df.Extracurricular_Involvement.value_counts()

Extracurricular_Involvement
Moderate    3432
Low         2160
High        1415
Name: count, dtype: int64

In [98]:
Extracurricular_Involvement_Map = {
    'Moderate' : 2,
    'High' : 3,
    'Low' : 1
}
df['Extracurricular_Involvement'].replace(Extracurricular_Involvement_Map , inplace=True)

C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\2629068318.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Extracurricular_Involvement'].replace(Extracurricular_Involvement_Map , inplace=True)
C:\Users\vimal\AppData\Local\Temp\ipykernel_25356\2629068318.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Extracurricular_Involvement'].replace(Extracurricular_Involvement_Map , inplace=True)

In [99]:
df.Chronic_Illness.value_counts()

Chronic_Illness
No     6663
Yes     344
Name: count, dtype: int64

In [100]:
df['Chronic_Illness'] = df['Chronic_Illness'].map({"Yes": 1, "No": 0})

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7007 non-null   int64
 1   Course                       7007 non-null   object
 2   Gender                       7007 non-null   int64
 3   CGPA                         7007 non-null   float64
 4   Stress_Level                 7007 non-null   int64
 5   Depression_Score             7007 non-null   int64
 6   Anxiety_Score                7007 non-null   int64
 7   Sleep_Quality                7007 non-null   int64
 8   Physical_Activity            7007 non-null   int64
 9   Diet_Quality                 7007 non-null   int64
 10  Social_Support               7007 non-null   int64
 11  Relationship_Status          7007 non-null   object
 12  Substance_Use                7007 non-null   int64
 13  Counseling_Service_Use       7007 non-null   int64
 14  Family_History               7007 non-null   int64
 15  Chronic_Illness              7007 non-null   int64
 16  Financial_Stress             7007 non-null   int64
 17  Extracurricular_Involvement  7007 non-null   int64
 18  Semester_Credit_Load         7007 non-null   int64
 19  Residence_Type               7007 non-null   object
 20  Risk                         7007 non-null   int64
dtypes: float64(1), int64(17), object(3)
memory usage: 1.1+ MB

In [102]:
df = pd.get_dummies(
    df,
    columns=['Residence_Type', 'Relationship_Status', 'Course'],
    drop_first=False,
    dtype=int
)

In [103]:
df.head()

,Age,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,...,Residence_Type_With Family,Relationship_Status_In a Relationship,Relationship_Status_Married,Relationship_Status_Single,Course_Business,Course_Computer Science,Course_Engineering,Course_Law,Course_Medical,Course_Others
0,25,0,3.56,3,3,2,3,2,3,2,...,0,0,1,0,0,0,0,0,0,1
1,24,1,2.44,0,3,0,2,1,2,1,...,0,0,0,1,0,0,1,0,0,0
2,19,1,3.74,4,0,3,3,1,2,2,...,0,1,0,0,1,0,0,0,0,0
3,18,0,3.40,3,3,4,3,1,2,3,...,0,0,1,0,1,0,0,0,0,0
4,21,1,3.35,2,4,3,3,2,3,3,...,0,0,0,1,0,0,0,0,1,0

In [104]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# cols = ['Age', 'CGPA' , 'Semester_Credit_Load']
# df[cols] = scaler.fit_transform(df[cols])

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007 entries, 0 to 7006
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Age                                    7007 non-null   int64
 1   Gender                                 7007 non-null   int64
 2   CGPA                                   7007 non-null   float64
 3   Stress_Level                           7007 non-null   int64
 4   Depression_Score                       7007 non-null   int64
 5   Anxiety_Score                          7007 non-null   int64
 6   Sleep_Quality                          7007 non-null   int64
 7   Physical_Activity                      7007 non-null   int64
 8   Diet_Quality                           7007 non-null   int64
 9   Social_Support                         7007 non-null   int64
 10  Substance_Use                          7007 non-null   int64
 11  Counseling_Service_Use                 7007 non-null   int64
 12  Family_History                         7007 non-null   int64
 13  Chronic_Illness                        7007 non-null   int64
 14  Financial_Stress                       7007 non-null   int64
 15  Extracurricular_Involvement            7007 non-null   int64
 16  Semester_Credit_Load                   7007 non-null   int64
 17  Risk                                   7007 non-null   int64
 18  Residence_Type_Off-Campus              7007 non-null   int64
 19  Residence_Type_On-Campus               7007 non-null   int64
 20  Residence_Type_With Family             7007 non-null   int64
 21  Relationship_Status_In a Relationship  7007 non-null   int64
 22  Relationship_Status_Married            7007 non-null   int64
 23  Relationship_Status_Single             7007 non-null   int64
 24  Course_Business                        7007 non-null   int64
 25  Course_Computer Science                7007 non-null   int64
 26  Course_Engineering                     7007 non-null   int64
 27  Course_Law                             7007 non-null   int64
 28  Course_Medical                         7007 non-null   int64
 29  Course_Others                          7007 non-null   int64
dtypes: float64(1), int64(29)
memory usage: 1.6 MB

In [106]:
df.to_csv('final_data.csv' , index=False)

In [ ]:
df.Risk.value_counts()
## Not a high imbalanced data

Risk
1    4265
0    2742
Name: count, dtype: int64